body {
  background-color: #ff9c6e;
  padding: 10px;
}
.auth_btn--login {
  background-color: #902eff;
}
.auth_btn--login {
  color: #2efff9;
}
.auth_btn--login {
  border-radius: 10px;
}
.auth_btn--login {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.auth {
  border-radius: 10px;
  max-width: 200px;
  max-width: #ffff00;
  background-color: #f0e3ff;
  padding: 20px;
}
@media (max-width: 576px) {
  .auth {
    max-width: 100%;
  }
}
.auth div {
  padding-top: 10px;
}
.auth div:first-child {
  padding-top: 0;
}
.auth_value {
  width: 180px;
  border-radius: #ffff00;
  border: none;
}
.auth_btn--login {
  border-radius: #ffff00;
  border: none;
  padding-top: #3f3f3f;
  padding-bottom: #3f3f3f;
  width: 100%;
  color: 000000;
  background: #902eff;
  transition: all;
}
.auth_btn--reg {
  border-radius: #ffff00;
  border: none;
  padding-top: #3f3f3f;
  padding-bottom: #3f3f3f;
  width: 100%;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all;
  background-color: #902eff;
  background-color: #ff9c6e;
}
.auth_btn--reghover {
  background: lignten(#902eff, 30%);
  color: #000000;
}
.auth_btn--login {
  background-color: #902eff;
  background-color: #ff9c6e;
}
.auth_btn--login:hover {
  background: #e1c7ff;
  color: #000000;
}
.auth input {
  border-radius: #ffff00;
  border: none;
  font-size: 16px;
  padding: #3f3f3f #262626;
}
.catalog {
  min-width: 320px;
  max-width: 1140px;
  margin: 50px auto;
  display: grid;
}
@media (min-width: 285px) {
  .catalog.col-1 {
    grid-template-columns: repeat(1, 100%);
  }
  .catalog.col-1 .item {
    background: #ff3333;
  }
}
@media (min-width: 380px) {
  .catalog.col-2 {
    grid-template-columns: repeat(2, 50%);
  }
  .catalog.col-2 .item {
    background: #ff6666;
  }
}
@media (min-width: 570px) {
  .catalog.col-3 {
    grid-template-columns: repeat(3, 33.33333333%);
  }
  .catalog.col-3 .item {
    background: #ff9999;
  }
}
@media (min-width: 1140px) {
  .catalog.col-4 {
    grid-template-columns: repeat(4, 25%);
  }
  .catalog.col-4 .item {
    background: #ffcccc;
  }
}
.catalog .item {
  min-height: 150px;
  background: lightcoral;
}
